body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

main {
    max-width: 600px;
    margin: 2rem auto;
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 24px;
}

form div {
    margin-bottom: 1rem;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

input, select, textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

textarea {
    resize: vertical;
}

.checkbox-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.checkbox-group label {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    flex: 1; /* Ensure label takes available space */
    text-align: left;
}

.checkbox-group input[type="checkbox"] {
    width: 1.5rem; /* Larger checkbox */
    height: 1.5rem;
    margin-left: 1rem;
    cursor: pointer;
}


button.btn-submit {
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
}

button.btn-submit:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 1rem;
}

.success-message {
    color: green;
    font-weight: bold;
    margin-bottom: 1rem;
}
